.mail-side-bar {
    flex: 0 0 200px;
    text-wrap: nowrap;
}

.mail-side-bar .compose {
    background-color: lightsteelblue;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.mail-side-bar .mail-filter {
    display: flex;
    align-items: center;
    border-radius: 0 25em 25em 0;
    padding: 10px;
    margin-inline-end: 20px;
}

.mail-side-bar .mail-filter:hover {
    background-color: rgb(236, 236, 236);
}

.mail-side-bar .active {
    color: aqua;
}

.mail-side-bar input {
    opacity: 0;
}

.side-bar-tool {
    display: flex;
    padding: 0 20px;
}

.mail-search {
    background-color: #f2f6fc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-search input {
    position: absolute;
    top: 5%;
    left: 50%;
    translate: -50% -50%;
    height: 3rem;
    width: 40%;
    font-size: 1.1em;
    padding-inline-start: 10px;
    border-radius: 25em;
    border: none;
}