 /* note index */

 .cards {
     width: 80vw;
     margin: auto;
     columns: 4 220px;
     column-gap: 12px;
     margin-block-start: 50px;
 }

 .card {
     margin-bottom: 1rem;
     break-inside: avoid;
     border-radius: 12px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     border: 1px solid gainsboro;
 }

 .card-tools {
     display: grid;
     grid-auto-flow: column;
     grid-auto-columns: 50px;
     place-items: center;
     grid-area: 2 / 1;
     place-self: start;

     width: 0;
     opacity: 0;
     padding: 8px;

     margin-block-start: 40px;
     color: darkgray;

     transition: 200ms ease-out;
 }

 .card:hover .card-tools {
     transition-delay: 150ms;
     opacity: 1;

     right: 400px;
     width: 300px;
 }

 .card-tools>* {
     background-color: inherit;
     border: none;
     font-size: 1.1em;
 }

 .add-note {
     text-align: center;
     margin-block-start: 20px;

 }

 .add-note .submit-btn {
     min-height: 54px;
     width: 75px;
 }

 .add-note .txt-input {
     height: 3rem;
     width: 600px;
     font-size: 1.1em;
     padding-inline-start: 10px;
 }


 .edit-note {
     position: absolute;
     top: 50%;
     left: 50%;
     translate: -50% -50%;

     background-color: #202124;

     height: 170px;
     width: 600px;

     z-index: 1;
 }

 .edit-note .backdrop {
     position: fixed;
     inset: 0;
     z-index: -1;

     top: 50%;
     left: 50%;
     translate: -50% -50%;

     height: 100vh;
     width: 100vw;

     background-color: #94949480;
 }

 .edit-note .submit-btn {
     min-height: 29px;
     width: 75px;

     background-color: white;
     border: none;
     margin-inline-start: 5px;
     font-size: 1.05em;
 }

 .edit-note .txt-input {
     height: 1.5rem;
     width: 300px;
     font-size: 1.1em;
     padding-inline-start: 10px;

     margin-block-start: 40px;
     margin-inline-start: 100px;
 }

 .palette {
     position: absolute;
     margin-block-end: 70px;

     background-color: white;
     padding: 5px;
     border: solid 1px lightgray;
     border-radius: 5px;

     cursor: pointer;
 }

 .palette-btn {
     height: 25px;
     width: 25px;
     border-radius: 50%;
     margin-inline-end: 5px;

     border: none;
     cursor: pointer;
 }

 .Note-filter {
     position: absolute;
     top: 5%;
     left: 50%;
     translate: -50% -50%;

     height: 3rem;
     width: 600px;
     font-size: 1.1em;
     padding-inline-start: 10px;

     border-radius: 5px;
     border: 2px solid #94949480;
 }

 .remove-btn,
 .duplicate-btn,
 .palette-btn {
     cursor: pointer;
 }

 .remove-btn:hover,
 .duplicate-btn:hover,
 .palette-btn:hover,
 .edit-btn:hover {
     font-size: 1.25em;
 }

 a:-webkit-any-link {
     cursor: pointer;
 }